<br>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="two wide column">
          <h4 class="ui inverted header">Links</h4>
          <div class="ui inverted link list">
            <a href="/" target="_blank" class="item">Home</a>
            <a href="/api/articles" target="_blank" class="item">Api</a>
            <a href="https://github.com/mercerbe/Blockchain-News-Scraper" target="_blank" class="item">GitHub Repo</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Resources</h4>
          <div class="ui inverted link list">
            <a href="https://www.mongodb.com/" target="_blank" class="item">Mongo</a>
            <a href="http://mongoosejs.com/" target="_blank" class="item">Mongoose</a>
            <a href="https://github.com/ericf/express-handlebars" target="_blank" class="item">Handlebars</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Connect</h4>
          <div class="ui horizontal list">
            <div class="item">
              <a href="https://www.facebook.com/mercerbe" target="_blank"><img src="/images/facebook.png" alt="" width="35px"></a>
            </div>
            <div class="item">
              <a href="https://twitter.com/ben_codes" target="_blank"><img src="/images/twitter.png" alt="" width="35px"></a>
            </div>
            <div class="item">
              <a href="https://www.linkedin.com/in/ben-mercer/" target="_blank"><img src="/images/linkedin.png" alt="" width="35px"></a>
            </div>
            <div class="item">
              <a href="https://www.instagram.com/wetbanditaudio/" target="_blank"><img src="/images/instagram.png" alt="" width="35px"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="/images/logo.png" class="ui centered mini image">
    </div>
  </div>
