<div class="ui inverted segment">
  <div class="ui fixed inverted menu">
    <a href="#" class="header item">
      <img class="logo" src="/images/logo.png">
      Blockchain News Scraper
    </a>
    <a class="item" href="/">Home</a>
    <a class="item" href="/scrape">Update Scrape</a>
    <a class="item" href="https://github.com/mercerbe/Blockchain-News-Scraper">Github Repo</a>
  </div>
  <br>
    <h1 class="ui center aligned icon olive inverted header"><i class="newspaper outline icon"></i>Blockchain News</h1>
</div>
<br>
