<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" href="/">Home</a>
    <a class="item" href="/scrape">Update Scrape</a>
    <a class="item" href="https://github.com/mercerbe/Blockchain-News-Scraper">Github Repo</a>
  </div>
</div>

<div class="ui cards">
  {{#each article}}
  <div class="ui centered raised card">
    <div class="content">
      <div class="center aligned header">{{this.headline}}</div>
      <div class="center aligned description">
        <a href="/articles/{{this._id}}"><button class="ui inverted orange button">Read More...</button></a>
      </div>
      <hr>
      <div class="extra content">
        <div class="left floated author">
          <p>{{this.postedAt}}</p>
        </div>
        <div class="right floated author">
          <p>{{this.author}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
